.App {
  text-align: center;
  background-color: #ebdcc2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  border: 2px solid black;
  font-size: 1em;
  margin-top: 10px;
}

.win-point {
  color: green;
}

.lose-point {
  color: red;
}